.Header {
  color: white;
  border: 3px solid none;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(143, 125, 125);
}

.Header h1 {
  font-size: 2rem;
  font-weight: 700;
}

#Mini {
  font-size: 16px;
  font-weight: bold;
}

#Mini a {
  border-radius: 2px;
  background-color: rgb(236, 233, 233);
  padding: 0px 4px 2px 4px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  transition: all ease-in-out 150ms;
  font-weight: bold;
}

#Mini a:hover {
  box-shadow: 0px 0px 5px white;
}

@media (max-width: 500px) {
  .Header h1 {
    font-size: 1.5rem;
  }
  #Mini {
    font-size: 13px;
  }
  #Mini a {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .Header h1 {
    font-size: 1.5rem;
  }
  #Mini a {
    display: block;
  }
}
